.boot-screen {
    background: linear-gradient(to left, #2980b9 , #27ae60);
	width: 100%;
	height: 100%;
}

.navbar-fixed-top::after {
	//margin-top: 52px;
    height: .25rem;
    width: 100%;
    background: linear-gradient(to left, #2980b9 , #27ae60);
    content: "";
    display: block;
}

.control-panel {
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
}

.control-panel-inner {
	margin: 0 auto;
	width: 200px;
	height: 40px;
}

.activity-bar {
    height: 100%;
    top: 50px;
    bottom: 0px;
    left: 0px;
    position: fixed;
	width: 50px;
	background: #222222;
    z-index: 9999;
}

.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background: linear-gradient(to left, #2980b9, #27ae60);
}

.rc-slider-handle {
    border: solid 2px #222222;
}

.rc-switch-checked {
    background: linear-gradient(to left, #2980b9, #27ae60);
}

.app-bar{
  -moz-transition: right 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: right 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: right 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 218ms cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  width: auto !important;
  left: 0 !important;
  position: fixed !important;
}
.app-content{
  -moz-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
//   padding-left: 20px !importnt;
//   padding-top: 64px !important;
  padding-bottom: 64px !important;
//   margin: 0px 5% 5% 5%;
}
.app-bar.right-expanded{
  right: 255px;
}
.app-bar.left-expanded {
    left: 255px;
}
.app-content.left-expanded {
    padding-left: 200px;
}
.app-content.right-expanded {
    padding-right: 256px;
}
.app-bar.right-expanded {
    right: 200px;
}
.app-content.expanded{
  padding-left: 65px;
}

body {
    margin: 0px;
    background: #eeeeee;
}

.paper {
   box-shadow:  0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24) !important;
}

.paper:hover {
   box-shadow:  0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24) !important;
}

h1 {
    color: '#757575' !important;
}

.load-page {
    width: 100%;
    height: 100vh;
     background: linear-gradient(120deg, #8e44ad, #9A59B6, #3497DB, #1abc9c, #2ecc71);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.error-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #f1c40f, #e67e22, #e74c3c, #c0392b);
   background-size: 1200% 1200%;
   -webkit-animation: AnimationName 30s ease infinite;
   -moz-animation: AnimationName 30s ease infinite;
   -o-animation: AnimationName 30s ease infinite;
   animation: AnimationName 30s ease infinite;
   @-webkit-keyframes AnimationName {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }
   @-moz-keyframes AnimationName {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }
   @-o-keyframes AnimationName {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }
   @keyframes AnimationName {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
   }
}